
<div class="hero-unit">
  <h2>Welcome to Hahacast!</h2>
  <p>Create your modifiable radio channel!</p>
  <br />
  <br />
  <p>if you don't have any account</p>
  <a class="btn btn-primary btn-large">
    Sign up!
  </a>
</div>

