<h1>Usercast</h1>

<p>
  <b>User</b><br>
  <%= @usercast.user_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', usercasts_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_usercast_path(@usercast), :class => 'btn' %>
  <%= link_to 'Delete', usercast_path(@usercast), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
