<%#<%= render :partial => 'form' %>
<div id="audioRecorder">
</div>

<div id="count">
</div>
<div id="message"> init</div>
<Button class="audioRecordButton">Record</Button>
<Button class="audioRecordStopButton">Stop</Button>
<Button class="audioUploadButton">Upload</Button>
<div class="progress inactive">
  <div id="record_progress" class="bar inactive" </div>
</div>
