<%= @user.email %> casts

<% for mention in @mentions %>
  <%= render_tree(mention) %>
<% end %>

<% if current_user.present? && current_user == @user %>
  <p><%= link_to "New Mention", new_mention_path %></p>
<% end %>
